@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(180deg);}   
}

@keyframes reverseSpin {
    0%  {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(0deg);}   
}

@font-face {
    font-family: allerBold;
    src: url(/fonts/Aller/Aller_Bd.ttf);
}

body {
	background-color: #a0a0a0;
	overflow-x: hidden;
}

h2 {
	font-family: allerBold;
}

.noPadding {
	padding: 0px;
}

.noPaddingRight {
	padding-right: 0px;
}

.headSection {
	// margin-top: 50px;
	margin-bottom: 20px;
	//background-color: green;
	// height: 200px;
	h2 {
		padding-left: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 5em;
	}
}

.homeMenuItem {
	top: 40px;
	position: fixed;
	right: -190px;
	height: 40px;
	background-color: #ddd;
	color: black;
	cursor: pointer;
	width: 200px;
	font-size: .5em;
}

.menuItem1 {
	position: fixed;
	right: -380px;
	height: 80px;
	width: 400px;
	background-color: #ddd;
	top: 250px;
	cursor: pointer;
	// transform: skewX(-50deg);
}

.menuItem2 {
	position: fixed;
	right: -380px;
	height: 80px;
	width: 400px;
	background-color: #ddd;
	top: 350px;
	cursor: pointer;
}

.menuItem3 {
	position: fixed;
	right: -380px;
	height: 80px;
	width: 400px;
	background-color: #ddd;
	top: 450px;
	cursor: pointer;
}

.menuText1, .menuText2, .menuText3 {
	font-size: 3em;
	margin-left: 20px;
	color: #bbc107;
	cursor: pointer;
	// font-family: allerBold;
}

.test {
	background-color: white;
	height: 500px;
	border-width: 2px;
	border-color: black;
}

.portfolioHtml {
	margin-left: 40px;
	margin-right: 194px;
}

.foldout {
	height: 100px;
	width: 100px;
	background-color: #a5ff00;
	position: fixed;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.zmdi-arrow-left {
	font-size: 6em;
	color: #00b6ff;
	margin-left: 22px;
	margin-top: 8px;
	-webkit-transform: rotate(0deg);
}

.spinEffect {
    animation: spin 0.5s 1 linear;
}

.reverseSpin {
	animation: reverseSpin 0.5s 1 linear;
}

.rotated {
	-webkit-transform: rotate(180deg);
}

.github {
	height: 200px;
	background-color: black;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

$animation-length: 4s;
$size: 220px;

.loader {
  position: relative;
  display: block;
  width: $size;
  height: $size;
}
.line {
  height: $size/45;
  background: #ccc;
  margin-bottom: $size/41;  
  animation: $animation-length load ease-in-out infinite;
  @for $i from 1 through 21 {
    &:nth-of-type(#{$i+1}) {
      animation-delay: -#{$i/10}s;
    }
  }
}

@keyframes load {
  0% {
    width: 25%;
    margin-left: 75%;
  }
  25% {
    width: 1%;
    margin-left: 50%;
  }
  50% {
    width: 25%;
    margin-left: 0;
  }
  75% {
    width: 1%;
    margin-left: 50%;
  }
  100% {
    width: 25%;
    margin-left: 75%;
  }
}

svg {
	margin-top: 10px;
	#face {
		fill: purple;
	}
}

.littleMargin {
	padding-left: 70px;
}

.gitBlock {
	margin: 5px;
	background-color: black;
	//border-radius: 10px;
	height: 150px;
}

.repoNames {
	font-size: 4.0em;
	color: white;
	text-shadow: 2px 2px #000000;
	height: 70px;
	p {
		line-height: 70%;
	}
}

.repoCreatedAt {
	font-size: 1em;
	color: #9e9e9e;
	text-shadow: 2px 2px #000000;
}

.repoUpdatedAt {
	font-size: 1em;
	color: #9e9e9e;
	text-shadow: 2px 2px #000000;
}

.repoIntro {
	padding-top: 10px;
	p {
		margin: 0px;
		font-size: 1.4em;
		color: white;
	}
}

.githubLink {
	transform: rotate(90deg);
	position: absolute;
	right: 545px;
	top: 65px;
	a {
		font-weight: bold;
		color: black;
		text-decoration: none;
		font-size: 1.2em;
		&:hover {
        	color:yellow;
    	}
	}
}

.pushRight {
	padding-left: 10px;
}

.githubAnimateContainer {
	height: 4.7em;
}

.recentCommit {
	p {
		color: white;
		font-size: 1em;
		margin: 0px;
		span {
			color: #bada55;
			text-shadow: 2px 2px #000000;
			font-size: 1.2em;
		}
		span.repoName {
			color: #c6a1a1;
			font-weight: bold;
		}
	}
}

.octocat {
	svg {
		height: 130px;
	}
}

.githubAvatar {
	padding-top: 30px;
	//right: 30px;
	width: 120px;
    display: block;
}

.emoji {
	height: 1em;
}

.d3Vis {
	max-width: 100%;
	height: 160px;
	//background-color: rgba(0,0,0,0.5);
	margin-left: 30px;
}

.axis path,
.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}

.axis {
	font-size: .8em;
	fill: white;
	shape-rendering: crispEdges;
}

.bar:hover {
  fill: brown;
}

.linkedinContact {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	background-color: #00b3e0;
}

.linkedinLink {
	width: 70px;
	height: 70px;
	background: url('assets/images/linkedin.png');
	background-size: 100%;
	cursor: pointer;
}

.githubContact {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	background-color: #f7f7f7;
}

.githubcontactLink {
	width: 70px;
	height: 70px;
	background: url('assets/images/GitHub.png');
	background-size: 100%;
	cursor: pointer;
}

.emailContact {
	margin-top: 10px;
	padding: 10px;
	width: 100%;
	background-color: #b70000;
}

.emailLink {
	padding-top: 15px;
	width: 70px;
	height: 70px;
	background-size: 100%;
	cursor: pointer;
	font-style: bold;
	font-size: 2em;
	color: #ffbf00;
}