@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(180deg);}   
}

@keyframes reverseSpin {
    0%  {-webkit-transform: rotate(180deg);}
    100% {-webkit-transform: rotate(0deg);}   
}

@font-face {
    font-family: allerBold;
    src: url(/fonts/Aller/Aller_Bd.ttf);
}

body {
	background-color: #a0a0a0;
	overflow-x: hidden;
}

h2 {
	font-family: allerBold;
}

.headSection {
	// margin-top: 50px;
	margin-bottom: 20px;
	//background-color: green;
	// height: 200px;
	h2 {
		padding-left: 50px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 5em;
	}
}

.homeMenuItem {
	top: 40px;
	position: fixed;
	right: -190px;
	height: 40px;
	background-color: #e8b900;
	color: black;
	cursor: pointer;
	width: 200px;
	font-size: .5em;
}

.menuItem1 {
	position: fixed;
	right: -380px;
	height: 80px;
	width: 400px;
	background-color: #d8ff00;
	top: 250px;
	cursor: pointer;
	// transform: skewX(-50deg);
}

.menuItem2 {
	position: fixed;
	right: -380px;
	height: 80px;
	width: 400px;
	background-color: #00ff94;
	top: 350px;
	cursor: pointer;
}

.menuItem3 {
	position: fixed;
	right: -380px;
	height: 80px;
	width: 400px;
	background-color: #ff0000;
	top: 450px;
	cursor: pointer;
}

.menuText1, .menuText2, .menuText3 {
	font-size: 3em;
	margin-left: 20px;
	color: #bbc107;
	cursor: pointer;
	// font-family: allerBold;
}

.test {
	background-color: white;
	height: 500px;
	border-width: 2px;
	border-color: black;
}

.portfolioHtml {
	margin-left: 40px;
	margin-right: 194px;
}

.foldout {
	height: 100px;
	width: 100px;
	background-color: #a5ff00;
	position: fixed;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.zmdi-arrow-left {
	font-size: 6em;
	color: #00b6ff;
	margin-left: 22px;
	margin-top: 8px;
	-webkit-transform: rotate(0deg);
}

.spinEffect {
    animation: spin 0.5s 1 linear;
}

.reverseSpin {
	animation: reverseSpin 0.5s 1 linear;
}

.rotated {
	-webkit-transform: rotate(180deg);
}

.github {
	height: 200px;
	background-color: black;
}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}