<template name="portfolio">
	<div class='row portfolioHtml'>
		<div class='col-md-4 test cokeApp'><a href="https://coca-cola-twitter.herokuapp.com/" target="_BLANK">Twitter Api Coca Cola</a></div>
		<div class='col-md-4 test cokeApp'>
			<a href="https://coca-cola-twitter.herokuapp.com/" target="_BLANK">Twitter Api Coca Cola</a>
		</div>
		<div class='col-md-4 test cokeApp'>
			<a href="https://coca-cola-twitter.herokuapp.com/" target="_BLANK">Twitter Api Coca Cola</a>
		</div>
	</div>
</template>