<template name="about">
	<div class="row">
		<div class="col-md-2 littleMargin">
			<div class="row octocat">
				<div class="githubContactAbout"><div class="githubcontactLink"></div></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="gitBlock">
				{{#if reposLoaded}}
					<div class="col-md-12 noPadding">
						<div class="col-md-8 noPaddingRight">
							<div class="repoIntro">
								<p>{{repoNumber}} repositories including the following:</p>
							</div>
							<div class="githubAnimateContainer">
								<div class="repoNames">
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6 noPadding">
											<div class="repoCreatedAt">
											</div>
										</div>
										<div class="col-md-6 noPadding">
											<div class="repoUpdatedAt">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 noPadding">
							<div class="recentCommit repoIntro">
								<p>Most recent commit:</p>
								<p><span>{{#emoji}}{{recentCommitMessage}}{{/emoji}}</span></p>
								<p>To: <span class="repoName">{{recentCommitRepo}}</span></p>
								<p>On: <span class="repoName">{{recentCommitDate}}</span></p>
							</div>
							<!-- 
							<div class="row">
								<p class="githubLink"><a href="http://github.com/seann1" target="_blank">github.com/seann1</a></p>
							</div>
							-->
						</div>
					</div>

				{{else}}
					<div class="loader">
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					    <div class="line"></div>
					</div>
				{{/if}}
			</div> <!-- end gitBlock -->
		</div>
		<div class="col-md-2 noPadding">
			<img class="githubAvatar" src="{{githubAvatarLink}}">
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			{{> graph}}
		</div>
	</div>
</template>