<body>
	{{renderPage}}
</body>

<template name="layout">
	<div class="foldout">
		<i class="zmdi zmdi-arrow-left"></i>
	</div>
	<div class="row">
		<div class="col-md-10 headSection" id="threeD"></div>
	</div>
	<div class="row">
		<!-- <div class="col-md-6 github"></div> -->
	</div>
	<div class="row">
		<div class="mainContainer">
			{{#if portfolioTrue}}
				{{>portfolio}}
			{{/if}}
		{{> yield}}
		</div>
		<div class="homeLink">
			<div class="row">
				<div class="menuItem1">
					<p class="menuText1">Work</p>
				</div>
			</div>
			<div class="row">
				<div class="menuItem2">
					<p class="menuText2">About</p>
				</div>
			</div>
			<div class="row">
				<div class="menuItem3">
					<p class="menuText3">Contact</p>
				</div>
			</div>
		</div>
	</div>
</template>