<template name="contact">
	<div class="row">
		<div class="col-md-8 col-sm-8 littleMargin">
			<div class="linkedinContact"><div class="linkedinLink"></div></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8 littleMargin">
			<div class="githubContact"><div class="githubcontactLink"></div></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8 littleMargin">
			<div class="emailContact"><div class="emailLink">seanniesen@gmail.com</div></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-sm-8 littleMargin">
			<div class="resumeContact"><a href="https://seann1.github.io/resume/SeanNiesenResume.pdf" target="_BLANK" class="resumeLink">Resume</a></div>
		</div>
	</div>
</template>